.container {
	width: 100vw;
	margin: 0 0;

	.header {
		width: 100vw;
		background-color: var(--color-background);
		z-index: 50;
		position: fixed;
		top: 0;
		height: 80px;
		margin-bottom: 80px;

		.content {
			position: relative;
			max-width: 1440px;
			height: 100%;
			padding: 0 100px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 41px 1fr;
			align-items: flex-start;
			padding-top: 28px;
		}
	}

	.childContainer {
		height: 100%;
		overflow-y: auto;
		position: relative;
		padding-top: 160px;
		overflow: hidden;

		.child {
			max-width: 1440px;
			height: 100%;
			padding: 0 100px;
			margin: 0 auto;
		}

	}

}