.priceContainer {
	display: grid;
	justify-content: left;
	color: var(--color-dark);
	font-family: 'Raleway-Medium';
	font-weight: 500;

	.label {
		font-family: 'RobotoCondensed-Bold';
		font-size: 1.125rem;
		font-weight: 700;
	}

	.bold {
		font-family: 'Raleway-Bold';
		font-weight: 700;
	}

	.small {
		font-size: 1rem;
	}

	.middle {
		font-size: 1.125rem;
	}

	.large {
		font-size: 1.5rem;
	}

	.disable {
		color: var(--color-disable);
	}
}